
/*this is css practice*/
h1{
	font-size: 50px;
}
.heading_1{
	background-color: yellow;
	font-size: 50px;
}

#text1{
	background-color: red;
	font-size: 60px;
	border: 20px dashed green;
}


.nirob{

	font-size: 50px;
	background-color: violet;
}
.box{

	font-size: 20px;
	width: 50%;
	height: 200px;
	background-color: blue;

}




